*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar section style start  */


nav{
    display: flex;
    justify-content: space-around;
    padding: 2.4rem 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.nav-logo{
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.nav-menus{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}
.logo-title{
    font-size: 2.6rem;
}
.logo-img{
    width: 5rem;
}
a{
    text-decoration: none;
    color: black;
}
.follow-btn{
    
    border-radius: 0.5rem;
    background: #E55473;
    padding: 0.7rem 0.6rem;
}
.text-color{
    color: white;
    font-weight: 600;
}
i{
   cursor: pointer;
   vertical-align: middle;
}
.fa-youtube{
    color: red;
    font-size: 1.3rem;
}
.fa-facebook{
    color:  #4267B3;
    font-size: 1.3rem;
}
.icon{
    padding-left: 0.7rem;
}
.color-change{
   color: #FF42A5;
}

/* navbar section style end */

/* banner section style start */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);;
}
.banner-title{
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.banner-tag{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 0.8rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    list-style: none;
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 1.3rem;
    padding-left: 1.8rem;
}
li{
    padding: 0.4rem 0;
}
ul .icon {
    padding-right: 0.8rem;
}
.common-btn{
    border-radius: 0.6rem;
    background: #E55473;
    color: white;
    margin:0 1rem 0 1rem;
    padding: 0.9rem 1.5rem;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 600;
}
.banner-photo{
    margin: 0 2rem;
}
.banner-img{
    width: 100%;
}

/* banner section style end */

/* we are gamer section style start */

.gamer-container{
    display: flex;
    align-items: center;
    padding: 0 3rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-photo{
    padding-right: 2rem;
}
.gamer-img{
    width: 47rem;
}
.gamer-text{
    text-align: right;
}
.gamer-title{
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-description{
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.9rem 0 1.2rem 0;
}
.gamer-quote{
    font-size: 1.7rem;
    font-weight: 700;
}

/* we are gamer section style end */

/* online games section style start  */

.online-game-text{
    text-align: center;
    padding-top: 1.5rem;
}
.online-game-title{
    font-size: 2.6rem;
    font-weight: 700;
}
.online-game-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: #534C64;
    padding: 0.6rem 0 1.4rem 0;
}
.diff-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem 2rem 0 4rem; 
    gap: 0.5rem;
}
.online-game-img{
    width: 17rem;
}
.online-game-description{
    font-size: 0.7rem;
    font-weight: 400;
    color: #534C64;
}
.online-game-single-img{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 16.7rem;
    height: 19.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid #F948B2;
    border-radius: 0.7rem;
    opacity: 0;
}
.online-game-single-img:hover .overlay{
    opacity: 1;
}
.play-icon{
    font-size:1.7rem ;
    color: white;
}
.play-title{
    font-size: 1rem;
    color: white;
}


/* online games section style end  */

/* play instant section style start */

.play-instant{
    height: 130vh;   
}
.play-instant-container{
    display: flex; 
    padding-top: 3rem;
}
.play-instant-text{
    padding:15rem 2.5rem 0 3rem;
    text-align: center;
}
.play-instant-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.play-instant-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instant-description{
    font-size: 1rem;
    font-weight: 400;
    color:#534C64;
    padding: 0.8rem 0 1rem 0;
}
.play-instant-img-container{
    padding: 0 3rem;
}
.play-instant-img1{
    width: 100%;
}
.play-instant-img2{
    width: 40%;
    position: relative;
    bottom: 14rem;
    right: 9rem;
    border: 2px solid gray;
}

/* play instant section style end */

/* play game section style start */

.play-game{
    height: 105vh; 
    /* border: 1px solid tomato;   */
}
.play-game-container{
    display: flex; 
    padding-top: 3rem;
}
.play-game-text{
    padding:10.5rem 2.5rem 0 3rem;
    text-align: center;
}
.play-game-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.play-game-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-game-description{
    font-size: 1rem;
    font-weight: 400;
    color:#534C64;
    padding: 0.8rem 0 1rem 0;
}
.play-game-img-container{
    padding: 0 3rem;
}
.play-game-img1{
    width: 100%;
}
.play-game-img2{
    width: 40%;
    position: relative;
    bottom: 11.5rem;
    left: 27.5rem;
    border: 2px solid gray;
}


/* play game section style end */

/* Career section style start  */

.career-container{
    margin-top: 2rem;
    display: flex; 
    padding: 0 1rem 0 5rem;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%)
}
.career-text{
    text-align: center;
}
.career-item{
    font-size: 0.9rem;
    font-weight: 500;
    color:#534C64 ;
}
.career-title{
    font-size: 2.3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.career-description{
    font-size: 0.7rem;
    font-weight: 400;
    color: #534C64;
    padding: 1rem 0 2rem o;
}
.career-item{
    display: flex;
    list-style: none;
    gap: 6rem;
}
.item2{
    text-align: right;
}
.career-img{
    width: 100%;
}
.btn{
    text-align: center;
    padding: 1.5rem;
}


/* Career section style end  */


/* popular game section style start */

.popular-game-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.popular-game-title{
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 3.4rem;
    text-align: center;
}
.popular{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.half-games{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1rem 2rem 2rem 4rem;
    gap: 2rem;
}
.other-half-games{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem 4rem 2rem 8rem;
    gap: 2rem;
}
.game-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2.9rem;
    background: #FFF;
    padding:0.4rem 1.1rem ;
}
.game-icon:hover{
    border: 1px solid #FF42A5;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; ;
}
h5{
    font-size: 0.9rem;
}

/* popular game section style end  */



/* Media Query start */


/* small device */


@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    .nav-menus{
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;
        padding-bottom: 2rem;
    }
    .nav-menus{
        gap: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-photo{
        margin-bottom: 1rem;
    }
    .gamer-container{
        flex-direction: column;
        padding: 0 1rem;
    }
    .gamer-photo{
        padding-right: 0rem;
        padding-top: 0.8rem;
    }
    .gamer-img{
        width: 23rem;
    }
    .gamer-text{
        text-align: center;
    }
    .gamer-description{
        font-size: 0.7rem;
    }
    .gamer-quote{
        font-size: 1.2rem;
    }
    .online-game-img-container{
        grid-template-columns: repeat(1,1fr);   
        padding-left: 4rem;
    }
    .play-instant{
        height: 190vh;
        margin-top: -200px;
    }
    .play-instant-container{
        flex-direction: column;
        padding-top: 0;
    }
    .play-instant-img-container{
        padding: 2rem 0 0 7rem;
        margin: 0;
    }
    .play-instant-img1{
        width: 80%;
    }
    .play-instant-img2{
        width: 30%;
        position: relative;
        bottom: 5rem;
        right: 3.5rem;
        border: 2px solid gray;
        border-radius: 0.5rem;
    }
    .play-game{
        height: 190vh;
        margin-top: -140px;
    }
    .play-game-container{
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .play-game-text{
        padding: 12rem 1.5rem 0 1.5rem;
    }
    .play-game-img-container{
        padding: 2rem 0 0 3rem;
        margin: 0;
    }
    .play-game-img1{
        width: 70%;
    }
    .play-game-img2{
        width: 30%;
        position: relative;
        bottom: 6rem;
        left: 12.5rem;
        border: 2px solid gray;
        border-radius: 0.5rem;
    }
    .career-container{
        flex-direction: column;
        padding: 0 1rem 0 1rem;
    }
    .half-games{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem 0rem 1rem 1rem;
        gap: 1rem;
    }
    .other-half-games{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem 0rem 1rem 1rem;
        gap: 1rem;
    }
}
/* medium device  */

@media screen and (min-width:577px)and (max-width:992px){
    .banner-container{
        flex-direction: column-reverse;
    } 
    .banner-photo{
        margin-bottom: 1.5rem;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-text{
        text-align: center;
    }
    .online-game-img-container{
        grid-template-columns: repeat(2,1fr);
    } 
    .play-instant{
        height: 245vh;
        margin-top: -240px;
    }
    .play-instant-container{
        flex-direction: column;
    }
    .play-instant-img-container{
        padding: 2rem 0 0 11rem;
    }
    .play-instant-img1{
        width: 80%;
    }
    .play-instant-img2{
        width: 30%;
        position: relative;
        bottom: 9rem;
        right: 5rem;
        border: 2px solid gray;
        border-radius: 0.5rem;
    }
    .play-game{
        height: 222vh;
        margin-top: -180px;
    }
    .play-game-container{
        flex-direction: column-reverse;
    }
    .play-game-img-container{
        padding: 2rem 0 0 6rem;
    }
    .play-game-img1{
        width: 70%;
    }
    .play-game-img2{
        width: 30%;
        position: relative;
        bottom: 10rem;
        left: 23rem;
        border: 2px solid gray;
        border-radius: 0.5rem;
    }
    .career-container{
        flex-direction: column;
        padding: 0 1rem 0 1rem;
    }
    .half-games{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem 0rem 1rem 1rem;
        gap: 1rem;
    }
    .other-half-games{
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 0rem 1rem 1rem;
    gap: 1rem;
   }

}