*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar section style start  */


nav{
    display: flex;
    justify-content: space-around;
    padding: 2.4rem 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.nav-logo{
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.nav-menus{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}
.logo-title{
    font-size: 2.6rem;
}
.logo-img{
    width: 5rem;
}
a{
    text-decoration: none;
    color: black;
}
.follow-btn{
    
    border-radius: 0.5rem;
    background: #E55473;
    padding: 0.7rem 0.6rem;
}
.text-color{
    color: white;
    font-weight: 600;
}
i{
   cursor: pointer;
   vertical-align: middle;
}
.fa-youtube{
    color: red;
    font-size: 1.3rem;
}
.fa-facebook{
    color:  #4267B3;
    font-size: 1.3rem;
}
.icon{
    padding-left: 0.7rem;
}
.color-change{
   color: #FF42A5;
}

/* navbar section style end */

/* banner section style start */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);;
}
.banner-title{
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.banner-tag{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 0.8rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    list-style: none;
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 1.3rem;
    padding-left: 1.8rem;
}
li{
    padding: 0.4rem 0;
}
ul .icon {
    padding-right: 0.8rem;
}
.common-btn{
    border-radius: 0.6rem;
    background: #E55473;
    color: white;
    margin:0 1rem 0 1rem;
    padding: 0.9rem 1.5rem;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 600;
}
.banner-photo{
    margin: 0 2rem;
}
.banner-img{
    width: 100%;
}

/* banner section style end */

/* we are gamer section style start */

.gamer-container{
    display: flex;
    align-items: center;
    padding: 0 3rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-photo{
    padding-right: 2rem;
}
.gamer-img{
    width: 47rem;
}
.gamer-text{
    text-align: right;
}
.gamer-title{
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-description{
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.9rem 0 1.2rem 0;
}
.gamer-quote{
    font-size: 1.7rem;
    font-weight: 700;
}

/* we are gamer section style end */

/* online games section style start  */

.online-game-text{
    text-align: center;
    padding-top: 1.5rem;
}
.online-game-title{
    font-size: 2.6rem;
    font-weight: 700;
}
.online-game-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: #534C64;
    padding: 0.6rem 0 1.4rem 0;
}
.diff-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem 2rem 0 4rem; 
    gap: 0.5rem;
}
.online-game-img{
    width: 17rem;
}
.online-game-description{
    font-size: 0.7rem;
    font-weight: 400;
    color: #534C64;
}
.online-game-single-img{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 16.7rem;
    height: 19.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid #F948B2;
    border-radius: 0.7rem;
    opacity: 0;
}
.online-game-single-img:hover .overlay{
    opacity: 1;
}
.play-icon{
    font-size:1.7rem ;
    color: white;
}
.play-title{
    font-size: 1rem;
    color: white;
}


/* online games section style end  */



/* Media Query start */


/* small device */


@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    .nav-menus{
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;
        padding-bottom: 2rem;
    }
    .nav-menus{
        gap: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-photo{
        margin-bottom: 1rem;
    }
    .gamer-container{
        flex-direction: column;
        padding: 0 1rem;
    }
    .gamer-photo{
        padding-right: 0rem;
        padding-top: 0.8rem;
    }
    .gamer-img{
        width: 23rem;
    }
    .gamer-text{
        text-align: center;
    }
    .gamer-description{
        font-size: 0.7rem;
    }
    .gamer-quote{
        font-size: 1.2rem;
    }
    .online-game-img-container{
        grid-template-columns: repeat(1,1fr);   
        padding-left: 4rem;
    }
    
}


/* medium device  */

@media screen and (min-width:577px)and (max-width:992px){
    .banner-container{
        flex-direction: column-reverse;
    } 
    .banner-photo{
        margin-bottom: 1.5rem;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-text{
        text-align: center;
    }
    .online-game-img-container{
        grid-template-columns: repeat(2,1fr);
    }    
}
